name: Homologacao

on:
  workflow_dispatch:

jobs:
  homologacao:
    runs-on: ubuntu-latest
    environment: homologacao

    env:
      ENV_FOR_DYNACONF: testing
      DYNACONF_USE_CLASS_FAKE: false

      DYNACONF_TIPO_TRANSACAO: ${{ secrets.DYNACONF_TIPO_TRANSACAO }}
      DYNACONF_SEQUENCIAL_TRANSACAO: ${{ secrets.DYNACONF_SEQUENCIAL_TRANSACAO }}
      DYNACONF_DATA: ${{ secrets.DYNACONF_DATA }}
      DYNACONF_HORA: ${{ secrets.DYNACONF_HORA }}
      DYNACONF_CODIGO_PRESTADOR_NA_OPERADORA: ${{ secrets.DYNACONF_CODIGO_PRESTADOR_NA_OPERADORA }}
      DYNACONF_REGISTRO_ANS: ${{ secrets.DYNACONF_REGISTRO_ANS }}
      DYNACONF_PADRAO: ${{ secrets.DYNACONF_PADRAO }}
      DYNACONF_NUMERO_GUIA_PRESTADOR: ${{ secrets.DYNACONF_NUMERO_GUIA_PRESTADOR }}
      DYNACONF_TIPO_ETAPA_AUTORIZACAO: ${{ secrets.DYNACONF_TIPO_ETAPA_AUTORIZACAO }}
      DYNACONF_NUMERO_CARTEIRA: ${{ secrets.DYNACONF_NUMERO_CARTEIRA }}
      DYNACONF_ATENDIMENTO_RN: ${{ secrets.DYNACONF_ATENDIMENTO_RN }}
      DYNACONF_NOME_BENEFICIARIO: ${{ secrets.DYNACONF_NOME_BENEFICIARIO }}
      DYNACONF_NOME_CONTRATADO: ${{ secrets.DYNACONF_NOME_CONTRATADO }}
      DYNACONF_NOME_PROFISSIONAL: ${{ secrets.DYNACONF_NOME_PROFISSIONAL }}
      DYNACONF_CONSELHO_PROFISSIONAL: ${{ secrets.DYNACONF_CONSELHO_PROFISSIONAL }}
      DYNACONF_NUMERO_CONSELHO_PROFISSIONAL: ${{ secrets.DYNACONF_NUMERO_CONSELHO_PROFISSIONAL }}
      DYNACONF_UF: ${{ secrets.DYNACONF_UF }}
      DYNACONF_CBOS: ${{ secrets.DYNACONF_CBOS }}
      DYNACONF_CARATER_ATENDIMENTO: ${{ secrets.DYNACONF_CARATER_ATENDIMENTO }}
      DYNACONF_DATA_SOLICITACAO: ${{ secrets.DYNACONF_DATA_SOLICITACAO }}
      DYNACONF_INDICACAO_CLINICA: ${{ secrets.DYNACONF_INDICACAO_CLINICA }}
      DYNACONF_CODIGO_TABELA: ${{ secrets.DYNACONF_CODIGO_TABELA }}
      DYNACONF_CODIGO_PROCEDIMENTO: ${{ secrets.DYNACONF_CODIGO_PROCEDIMENTO }}
      DYNACONF_DESCRICAO_PROCEDIMENTO: ${{ secrets.DYNACONF_DESCRICAO_PROCEDIMENTO }}
      DYNACONF_QUANTIDADE_SOLICITADA: ${{ secrets.DYNACONF_QUANTIDADE_SOLICITADA }}
      DYNACONF_CNES: ${{ secrets.DYNACONF_CNES }}
      DYNACONF_OBSERVACAO: ${{ secrets.DYNACONF_OBSERVACAO }}
      DYNACONF_HASH: ${{ secrets.DYNACONF_HASH }}
      DYNACONF_URL_EXECUCAO_SP_SADT_HOMOLOGACAO: ${{ secrets.DYNACONF_URL_EXECUCAO_SP_SADT_HOMOLOGACAO }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r api/requirements.txt

      - name: Debug Secret
        run: |
          if [ -z "$DYNACONF_TIPO_TRANSACAO" ]; then
          echo "TIPO_TRANSACAO ESTA VAZIO"
          else
          echo "TIPO_TRANSACAO ESTA DEFINIDO"
          fi
      - name: Run homologation tests
        run: pytest -m homologacao

